html
{
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
    padding-top: 0px;
    padding-bottom: 60px;
    text-align: center;

    font-family: 'Open Sans', sans-serif;
 }

a:hover
{
	text-decoration: none;
}

#maincontent
{
	padding-top: 10px;
}

.schedulecontrolicons-options
{
	position: absolute;
	right: -60px;
	top: 20px;
	width: 30px;
}

.schedulecontrolicons-changeschedule
{
	position: absolute;
	right: -90px;
	top: 20px;
	width: 30px;
}

.schedulecontrolicons-highlights
{
	position: absolute;
	right: -120px;
	top: 20px;
	width: 30px;
}

.exceptionscontainer
{
	margin: 30px auto 10px auto;
	padding: 00px 10px 10px 10px;
	border: 8px groove pink;
	width: 700px;
}

.exceptionscontainer > h2
{
	font-size: 20px;
}

.exceptioncell
{
	background-position: 0 -30px !important;
}

.hoverred:hover
{
	color: #ff0000;
}

.middlealign td, th
{
	vertical-align: middle;
}

.header
{
	position: relative;
	display: inline-block;
	margin: 0 auto;
}

.headeradjuster
{
	text-align:center;
}

.space-right
{
	margin-right: 8px;
}

.bulb-yellow
{
	color: #FFB700;
}

.options-blacken
{
	color: #000;
}

#schedule
{
	text-align: center;
	position: relative;
	min-width: 1000px;
	max-width: 3000px;
}

/******************* Schedule table *******************/

.schedule-main-table
{
	width: 100%;
	margin: 0 auto; 
    text-align: left;
    border-collapse: collapse;
}

.schedule-cell
{
	min-width: 100px;
	flex-grow: 1;
	flex-shrink: 0;
}

/* Core cells */
.schedule-main-table-normal-cell
{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.schedule-main-table-first-column
{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.schedule-main-top-row
{
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

#schedule-main-table-corner
{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	padding-right: 16px;
	
	flex-grow: 1;
	flex-shrink: 0;
}

/* Ends Core Cells */

.cell-invalid-clickable, .cell-valid-clickable
{
	cursor: pointer;
}

.cell-invalid-clickable:hover
{
	background-color: #555555;
}

.cell-valid-clickable:hover
{
	background-color: #FF0000;
}

.cell-available-clickable, .cell-unavailable-clickable
{
	cursor: pointer;
}

.cell-available-clickable:hover
{
	background-color: #FF0000;
}

.cell-unavailable-clickable:hover
{
	background-color: #33FF33;
}


.date-aligner
{
	margin-bottom: -5px;
}

/******************* ENDS Schedule table *******************/

/******************* Date navigation on schedule ***********/

#schedule-header
{
	margin-bottom: 20px;
}

#schedule-name
{
	font-size: 1.5em;
	padding-right: 20px;
}

#date-select
{
	border: 1px solid black;
	margin: 0px;
	display: inline-block;
	margin-bottom: -10px;
	margin-right: 10px;
}

#date-select-current
{
	margin: 0px;
	padding: 7px;
	float: left;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.date-select-control
{
	margin: 0px;
	float: left;
	padding: 7px;
	padding-right: 15px;
	padding-left: 15px;
}

#date-select-previous
{

}

#date-select-next
{

}

#date-select-now
{
	border-right: 1px solid black;
}

#change-schedule
{
	margin-left: 20px;
}

#highlight-mode
{
	margin-left: 20px;

}


/******************* ENDS navigation on schedule ***********/

.date-aligner-large
{
	width: 50px;
}

.large-date
{
	font-size: 32px;
}

.small-day
{
	font-size: 10px;
}



.schedule-previous
{
	position: absolute;
	top: 300px;
	left: -40px;
}

.schedule-next
{
	position: absolute;
	top: 300px;
	right: -40px;
}

.footer
{
	margin-top: 25px;
	text-align: center;
	font-size: 10px;
}

#maincontent
{
	display: inline-block;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

.modal_message
{
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -75px;
	padding-left: 40px;
	width: 80px;
	display: none;
	text-align: center;
	height: 80px;
	z-index: 999;
	padding-top: 40px;
}

.stuckrightdisplay
{
	position: absolute;
	right: 0px;
	top: 100px;
	width: 200px;
	padding: 5px 5px 5px 5px;
	font-size: 12px;
	text-align: left;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

.bold
{
	font-weight: bold;
}

@media all and (max-width: 1250px)
{
	.stuckrightdisplay
	{
		display: none;
	}
}

.tutbg img
{
	max-width: 100%;
	height: 100%;
}

.imgfiller
{
	width: 100%;
	background-color: red;
}

@media screen {
  .tutbg img { 
  	width: auto; /* for ie 8 */
  }
}

.container-nav-adjust
{
	width: 800px;
}

.dust
{
	color: #B6B6B4;
	text-align: center;
	font-style: italic;
	padding-top: 140px;
	padding-bottom: 140px;
	width: 800px;
}

.invalid-hour
{
	background-color: lightgrey;
}


.available-hour
{
	background-color: lightgreen;
}

.standard
{
	text-align: left;
	width: 800px;

}

.form-text-alignment
{
	padding-left: 170px;
}

.pad-top
{
	padding-top: 10px;
}

.pad-bottom
{
	padding-bottom: 20px;
}