html
{
	margin-bottom: 0px;
}

body {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
 }

a:hover
{
	text-decoration: none;
}

.logo
{
	position: absolute;
	left: 10px;
	top: 10px;
}

#maincontent
{
	padding-top: 10px;
}

.usercontrol
{
	position: absolute;
	right: 10px;
	top: 20px;
	font-weight: bold;
}

.schedulecontrolicons-options
{
	position: absolute;
	right: -60px;
	top: 20px;
	width: 50px;
}

.schedulecontrolicons-highlights
{
	position: absolute;
	right: -90px;
	top: 20px;
	width: 50px;
}


.header
{
	position: relative;
	display: inline-block;
	margin: 0 auto;
}

.headeradjuster
{
	text-align:center;
}

.space-right
{
	margin-right: 8px;
}

.bulb-yellow
{
	color: #FFB700;
}

.options-blacken
{
	color: #000;
}

.schedule
{
	text-align: center;
	position: relative;
}

.schedule-main-table
{
	margin: 0 auto; 
    text-align: left;
    border-collapse: collapse;
}

.schedule-main-table td
{
	border: 1px solid black;
	width: 100px;
}

.schedule-main-table-top-row td
{
	height: 30px;
	margin-bottom: -20px;
}

td.schedule-main-table-first-column
{
	width: 50px;
	text-align: center;
	font-weight: bold;
}

td.schedule-main-table-corner
{
	width: 50px;
	height: 30px;
	border: none;
}

td.schedule-main-table-normal-cell
{
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	line-height: 12px;
	height: 30px;
}

td.schedule-main-table-invalid-cell
{
	background-color: #DDDDDD;
}

td.schedule-main-table-current-time-cell
{
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	line-height: 12px;
	background-color: #74C2E1;
}

td.schedule-main-table-old-time-cell
{
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	line-height: 12px;
	color: #777777;
}

.date-aligner
{
	margin-bottom: -10px;
}

.large-date
{
	font-size: 32px;
}

.small-day
{
	font-size: 10px;
}

.schedule-previous
{
	position: absolute;
	top: 300px;
	left: -40px;
}

.schedule-next
{
	position: absolute;
	top: 300px;
	right: -40px;
}

.footer
{
	margin-top: 25px;
	text-align: center;
	font-size: 10px;
}

#maincontent
{
	display: inline-block;
	margin: 0 auto;
	position: relative;
}

.modal_message
{
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -75px;
	padding-left: 40px;
	width: 80px;
	display: none;
	text-align: center;
	height: 80px;
	z-index: 999;
	padding-top: 40px;
}

.tutbg img
{
	max-width: 100%;
	height: 100%;
}

.imgfiller
{
	width: 100%;
	background-color: red;
}

@media \0screen {
  .tutbg img { 
  	width: auto; /* for ie 8 */
  }
}

.container-nav-adjust
{
	width: 800px;
}

.404span
{
	text-align: center;
}

.dust
{
	color: #B6B6B4;
	text-align: center;
	font-style: italic;
	padding-top: 140px;
	padding-bottom: 140px;
	width: 800px;
}

/* squaredOne */
.squaredOne {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
/* end square one */
/*
input[type=radio] {
	visibility: hidden;
}

input[type=checkbox] {
	visibility: hidden;
}
*/
/* ROUNDED ONE *//*
.roundedOne {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.roundedOne label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.roundedOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.roundedOne input[type=radio]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}*/

.standard
{
	text-align: left;
	width: 800px;

}

.form-text-alignment
{
	padding-left: 170px;
}

.pad-top
{
	padding-top: 10px;
}

.pad-bottom
{
	padding-bottom: 20px;
}